# get key from https://bob.ibm.com/admin/apikeys
BOBSHELL_API_KEY="xxx"

# Optional: only needed if git config user.email / user.name are not set globally or .git already exists
# GIT_USER_EMAIL="xxx"
# GIT_USER_NAME="xxx"
